body {
    font-family: Arial, sans-serif; /* Font default */
    background-color: #f2f2f2; /* Warna latar belakang */
    margin: 0; /* Hapus margin */
    padding: 0; /* Hapus padding */
}

.container {
    max-width: 800px; /* Lebar maksimum konten */
    margin: 50px auto; /* Pusatkan konten dan tambahkan margin atas dan bawah */
    background-color: #fff; /* Warna latar belakang konten */
    padding: 20px; /* Padding untuk ruang tambahan di dalam konten */
    border-radius: 10px; /* Membuat sudut konten membulat */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan lembut untuk konten */
}

h1 {
    text-align: center; /* Pusatkan judul */
    color: #333; /* Warna teks judul */
}

.faq-list {
    list-style-type: none; /* Hapus tanda bulat pada daftar FAQ */
    padding: 0; /* Hapus padding pada daftar FAQ */
}

.faq-list li {
    background-color: #f9f9f9; /* Warna latar belakang kotak pertanyaan */
    border-radius: 5px; /* Membuat sudut kotak membulat */
    padding: 15px; /* Padding untuk ruang tambahan di dalam kotak */
    margin-bottom: 20px; /* Ruang bawah untuk setiap kotak */
}

.faq-list h3 {
    margin-bottom: 10px; /* Ruang bawah kecil untuk judul pertanyaan */
    color: #007bff; /* Warna teks judul pertanyaan */
}