/* Setelan default untuk semua elemen */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Menghilangkan garis bawah pada tautan dengan kelas .a */

.a {
    text-decoration: none;
}
/* Tata letak dan gaya latar belakang untuk seluruh halaman */

body {
    background-color: rgb(100, 183, 255);
    
}
/* Bagian Tim: Tampilan dan penataan konten */

#team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
/* Gaya teks untuk judul tim */

.team-heading h3 {
    color: #ffffff;
    font-size: 3rem;
    text-transform: lowercase;
    margin-bottom: 20px;
}
/* Kotak untuk setiap anggota tim */

.team-box {
    width: 100%;
    padding: 20px;
    user-select: none;
    margin-bottom: 20px;
}
/* Tata letak dan efek untuk gambar anggota tim */
.t-b-img {
    width: 100%;
    height: 350px;
    position: relative;
}
/* Lapisan belakang untuk efek gradien pada gambar */
.t-b-img::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}
/* Gaya untuk gambar anggota tim */
.t-b-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
/* Tata letak dan gaya teks informasi anggota tim */
.t-b-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
/* Gaya teks untuk nama anggota tim */
.t-b-text strong {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
/* Gaya teks untuk posisi anggota tim */
.t-b-text span {
    color: #ffffff;
    font-size: 0.9rem;
    margin-bottom: 5px;
}
/* Tata letak dan gaya tautan media sosial anggota tim */
.tim-sosial {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}
/* Gaya tautan media sosial */

.team-sosial a{
    margin: 0px 5px;
    color: #ffffff;
    font-size: 0.9rem;
    transition: all ease 0.3s;
}
/* Efek hover pada tautan media sosial */

.team-sosial a:hover {
    color: #3d69fa;

}
/* Gaya untuk slider Swiper */
.swiper{
    max-width: 745px;
    width: 100%;
    padding-bottom: 50px;
}
/* Gaya untuk setiap slide */

.swiper-slide{
    width: 300px !important;
    opacity: 0.2;
    margin: 50px 0px;
    margin-top: 0px;
}
/* Gaya untuk setiap slide */

.swiper-slide {
    opacity: 0.7; /* Opacity awal untuk slide tidak aktif */
    transition: opacity 0.3s ease, border-color 0.3s ease; /* Transisi opacity dan warna border */
    border: 10px solid #ffffff; /* Warna border awal untuk slide tidak aktif */
}
/* Gaya untuk slide yang aktif */

.swiper-slide-active {
    opacity: 1; /* Opacity untuk slide aktif */
    border-color: #fcfdff; /* Warna border saat slide aktif (biru) */
}
/* Gaya untuk slide berikutnya */

.swiper-slide-next {
    border-color: #ffffff; /* Warna border saat slide berikutnya (ungu) */
}
