body {
    font-family: Arial, sans-serif; /* Menggunakan font Arial atau font serupa */
    background-color: #f2f2f2; /* Warna latar belakang */
    margin: 0; /* Menghapus margin */
    padding: 0; /* Menghapus padding */
}

.container {
    max-width: 800px; /* Lebar maksimum konten */
    margin: 50px auto; /* Pusatkan konten dan tambahkan margin atas dan bawah */
    background-color: #fff; /* Warna latar belakang konten */
    padding: 20px; /* Padding untuk ruang tambahan di dalam konten */
    border-radius: 10px; /* Membuat sudut konten membulat */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan lembut untuk konten */
}

h1 {
    text-align: center; /* Pusatkan judul */
    color: #333; /* Warna teks judul */
}

p {
    margin-bottom: 20px; /* Ruang bawah untuk paragraf */
}

ul {
    list-style-type: none; /* Hapus tanda bulet pada daftar */
    padding: 0; /* Menghapus padding pada daftar */
}

li {
    margin-bottom: 10px; /* Ruang bawah untuk setiap item daftar */
}

a {
    color: #007bff; /* Warna tautan */
    text-decoration: none; /* Hapus garis bawah pada tautan */
}

a:hover {
    text-decoration: underline; /* Tambahkan garis bawah saat tautan dihover */
}
