body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(77, 77, 77, 0);
    margin-top: 50px;
    padding: 20px;
}

.container {
    max-width: 850px;
    margin: auto;
    font-style: italic;
    background-color: #fdfdfd;
    border-radius: 8px;
    padding: 30px; /* Adjusted */
    box-shadow: 0 0 20px rgb(98, 80, 80); /* Adjusted */
}

h2 {
    text-align: center;
    color: #0057f9;
}

.form-group {
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.form-group p {
    color : #f90000;
    margin-bottom: 5px;
    margin-top: 1px;
    font-size: 10px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #d800f9;
}

input[type="number"] {
    width: 100%; /* Adjusted */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.btn-group {
    text-align: center;
    margin: 20px auto; /* Adjusted */
}


button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-style: italic;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #4f90ff; /* Adjusted */
    border: 1px solid #5779f3; /* Adjusted */
}

button:hover {
    background-color: #d800f9; /* Adjusted */
    border-color: #d800f9; /* Adjusted */
}

#deret {
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

#controls {
    margin: 10px;
}

.result-container {
    padding: 20px;
    margin: auto;
    color: white;
    text-align: center;
    max-width: 850PX;
    margin-top: 20px; /* Adjusted */
    border-radius: 8px; /* Added */
    background-color: #3b35f8; /* Added */
    font-style: italic;
}

#Sn {
    padding: 10px;
}

/* Responsiveness for mobile */
@media screen and (max-width: 600px) {
    .container {
        padding: 20px;
    }
    input[type="number"] {
        width: 100%;
    }
    .btn-group {
        margin-top: 10px;
    }
}
